<%= form_for(@sustainability_level_check) do |f| %>
  <% if @sustainability_level_check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sustainability_level_check.errors.count, "error") %> prohibited this sustainability_level_check from being saved:</h2>

      <ul>
      <% @sustainability_level_check.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sustainability_level %><br>
    <%= f.text_field :sustainability_level %>
  </div>
  <div class="field">
    <%= f.label :edifice_id %><br>
    <%= f.text_field :edifice_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
